<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668431355453-o9tdqu7dfsgj82gfka3jmshv6lbt0f6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668431355453-o9tdqu7dfsgj82gfka3jmshv6lbt0f6r</string>
	<key>API_KEY</key>
	<string>AIzaSyDY3TDAZP6NVPvzgFKaQxC1BUWGyRu-6nY</string>
	<key>GCM_SENDER_ID</key>
	<string>668431355453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agil.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-db04f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-db04f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668431355453:ios:38a012a71ccb0b6ee9a454</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-db04f.firebaseio.com</string>
</dict>
</plist>